[Unit]
Description=sigmundBlow : Starting Rhizome interface


[Service]
ExecStart=/home/pi/src/sigmundBlow/scripts/sb-rh
Restart=on-failure

[Install]
WantedBy=multi-user.target


