[Unit]
Wants=network-online.target
After=network-online.target
Description=Sigmund blow Start Rhizome interface

[Service]
ExecStart=/home/pi/src/sigmundBlow/scripts/sb-rh


[Install]
WantedBy=multi-user.target
